/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilos Universais */
:root {
  --primary-font: Inter, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  --transition-duration1: 0.3s;
  --transition-duration2: 0.2s;
  --transition-effect1: all ease-in-out;
  --box-shadow1: 0 0 1em #00000013;
  --box-shadow2: 0 0 1em #00000023;
  --main-color: #F46A35;
  --secondary-color: #9BE7E2;
  --white: #FFFFFF;
  --black: var(--black);
  --color1: #F0EEEE;
  --color2: #F4F2F2;
  --color3: #B1C381;
  --color4: #3D3D40;
  --color5: #006919;
  --color6: #740000;
  --color7: #7F4FFF;
  --color8: #F87C7C;
  --color9: #FFEB24;
  --border1: solid 1px #ececec;
  --border2: solid 10px #ececec;
}

* {
  font-family: var(--primary-font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: var(--black);
  text-decoration: none;
  transition: var(--transition-duration1);
}

.main {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  top: 60px;
  height: calc(100vh - 60px);
  min-height: calc(-60px + 100vh);
  padding: 0px 0px 0px 60px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.5) transparent;
}

/* Scrollbar styling for Chrome, Edge, and Safari */
.main::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

/* SUPERIOR NAVIGATION BAR #################################################################################################################### */
.tabs__buttons-list button {
  transition: var(--transition-duration1);
}

.tabs__buttons-list button:hover {
  opacity: 0.7;
}

.navigation-bar {
  height: 60px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
  gap: 24px;
  border-bottom: 0.5px solid #00000026;
  z-index: 5000;
}

.navigation-bar__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation-bar__logo--spifex-logo {
  text-decoration: none;
  color: #202020;
  font-size: 21px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  user-select: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
}

.navigation-bar__tabs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

.navigation-bar__tabs--tabs{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tabs__buttons-list {
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.tabs__buttons-list--profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 20px 0px;
}

.profile-container__account-button:hover,
.side-navigation__buttons-list--list:hover {
  background-color: #ececec;
}

/* Profile Dropdown */
.profile-container__account-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  user-select: none;
  text-decoration: none;
  padding: 0px 10px;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 55px;
  height: 30px;
  width: 90px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}

.profile-container__account-button--typography {
  font-size: 15px;
  font-weight: 700;
}

.profile-container__account-button--details {
  align-items: center;
  display: flex;
  flex-flow: row;
  gap: 4px;
}

.profile-container__content--svg {
  color: inherit;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.tabs__buttons-list--profile-container {
  position: relative;
}

.profile-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
  border: 0.5px solid #d6d6d6;
  font-size: 13px;
  font-weight: 400;
}

.profile-dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  transition: background-color 0.2s ease-in-out;
  gap: 8px;
}

.profile-dropdown-menu a:hover {
  background-color: #f1f1f1;
  border-radius: 15px;
}

/* LATERAL NAVIGATION BAR ##################################################################################################################### */
.side-navigation {
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: calc(100% - 60px);
  background: #ffffff;
  z-index: 1;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  overflow-x: visible;
}

.side-navigation__buttons-list {
  display: flex;
  flex-direction: column;
  padding: 50px 12px 12px 12px;
  border-right: 0.5px solid #00000026;
  overflow: hidden auto;
  transition: width 0.5s ease-in-out;
  user-select: none;
}

.side-navigation__buttons-list--list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 5px 0px 5px 0px;
  min-width: 32px;
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.list__button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  user-select: none;
  text-decoration: none;
  margin: 0px;
  padding: 6px;
  min-height: 32px;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  position: relative;
}

.list__button svg {
  user-select: none;
  min-width: 24px;
  min-height: 24px;
}

.list__button--button-label {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 12px;
}

.list__line {
  margin: 15px 0px;
}

.list__line--line {
  margin: 0px;
  background-color: transparent;
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 0.5px;
}

.side-navigation__buttons-list--expand-button {
  display: flex;
  align-items: flex-end;
  flex: 1 1 0%;
  position: sticky;
  bottom: 0px;
  right: 0px;
}

.expand-button__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.expand-button__container--expand-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  appearance: none;
  border: 0.5px solid #d6d6d6;
  outline: none;
  user-select: none;
  text-decoration: none;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
  height: 32px;
  width: 32px;
  padding: 0px;
  border-radius: 18px;
  flex-grow: 0;
  flex-shrink: 0;
}

.expand-button__svg {
  color: inherit;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.side-navigation__buttons-list--operations  {
  display: none; /* Ocultar os botões inicialmente */
  transform: translateX(-110%); /* Posicioná-los fora da tela à direita */
}

/* SECOND TAB ################################################################################################################################# */
.second-tab {
  display: flex;
  margin-top: 60px;
  width: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  transition: width 0.5s ease;
  height: 100%;
  background-color: #fff;
  border-right: 0.5px solid #00000026;
  overflow-x: hidden;
  z-index: 5000;
}

.box-grid {
  margin: 25px auto auto auto;
  display: block;
  width: 200px;
}

/* MAIN CONTENT ############################################################################################################################### */
.main-content {
  display: flex;
  flex-direction: column;
}

.main-content__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 50px;
}

.page-title-container {
  font-size: 40px;
  user-select: none;
}

.page-title-search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}

.search-content-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  gap: 10px;
}

.search-content-container__block {
  display: flex;
  flex-direction: column;
  width: calc(50% - 5px);
}

.search-content-container .search-content-container__block > div {
  margin: 5px 0px 15px 0px;
}

/* Caixa de Pesquisa */
.block__search  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 15px;
}

.block__search--input {
  margin: 0;
  padding: 0.7rem 2.5rem 0.7rem 1rem;
  width: 100%;
  background-color: #f1f1f1;
  border: 0.5px solid #d6d6d6;
  font-size: 12px;
  border-radius: 15px;
  transition: all ease-in-out 0.3s;
  outline: none;
}

.block__search--input:hover,
.block__search--input:focus {
  box-shadow: 0 0 1em #00000013;
}

/* FILTERS BOXES AND CONTAINER ################################################################################################################ */
/* Componentes da Caixa de Filtros */
.filter-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mesclar-2 {
  grid-column: span 2;
}

.mesclar-3 {
  grid-column: span 3;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
}

/* Filtro de meses e bancos */
.button-select-all,
.button-deselect-all {
  background-color: var(--white);
  border: solid 1px var(--black);
  margin: 2px;
  padding: 5px;
  width: 100%;
  transition: var(--transition-effect1) var(--transition-duration2);
  font-weight: 600;
  font-size: 13px;
  border-radius: 5px;
}

.button-select-all:hover,
.button-deselect-all:hover {
  background-color: var(--main-color);
}

.dropdown-multiselect {
  position: relative;
  display: inline-block;
  width: 100%;
  user-select: none;
}

.dropdown-button {
  margin: 0;
  padding: 0.7rem 1rem 0.7rem 1rem;
  width: 100%;
  background-color: #f1f1f1;
  border: 0.5px solid #d6d6d6;
  font-size: 12px;
  border-radius: 15px;
  transition: all ease-in-out 0.3s;
  outline: none;
  color: #757575;
}

.dropdown-button:hover {
  box-shadow: var(--box-shadow1);
  background-color: var(--color1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 0.5px solid #d6d6d6;
  z-index: 1;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color2);
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.5) transparent;
}

/* Scrollbar styling for Chrome, Edge, and Safari */
.dropdown-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dropdown-content::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.dropdown-header {
  padding: 10px;
  text-align: center;
  background-color: var(--color2);
}

.dropdown-header button {
  cursor: pointer;
}

.subgroup-label {
  display: block;
  padding: 10px 10px 0px 10px;
  font-size: 12px;
  font-weight: 700;
}

.subgroup-label[data-nature="Crédito"] {
  color: var(--main-color);
}

.subgroup-label[data-nature="Débito"] {
  color: var(--color6);
}

.dropdown-options label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-weight: 400;
  background-color: var(--color2);
  transition: var(--transition-effect1) var(--transition-duration1);
  gap: 5px;
}

.dropdown-options label:hover {
  background: #ff92671e;
}

.show { display: block; }

/* Estilos dos Selects e Inputs */
.flex > select,
.flex > input {
  width: 100%;
  font-family: var(--primary-font);
  font-size: 14px;
  margin-top: 5px;
}

.flex select,
.flex input {
  background-color: var(--color2);
  border: var(--border1);
  color: var(--color4);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  transition: var(--transition-effect1) var(--transition-duration1);
}

.flex select:hover,
.flex select:focus,
.flex input:hover,
.flex input:focus {
  box-shadow: var(--box-shadow1);
  background-color: var(--color1);
  color: var(--black);
}

/* CASH TABLE AND BANKS TABLE ################################################################################################################# */
/* Tabela de Lançamentos e Bancos */
.banks-table-wrapper {
  max-height: 212px;
  overflow-y: auto;
  display: block;
  width: 50%;
  border: 0.5px solid #d6d6d6;
  border-radius: 15px;
  margin: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.5) transparent;
}

/* Scrollbar styling for Chrome, Edge, and Safari */
.banks-table-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.banks-table-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.banks-table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.cash-flow-table-wrapper {
  width: 95%;
  margin: 0px auto;
  margin-top: 10px;
  border: 0.5px solid #d6d6d6;
  border-radius: 15px 15px 0px 0px;
}

.cash-flow-table,
.banks-table {
  margin: 0px auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.banks-table {
  max-height: 212px;
  overflow: scroll;
}

.banks-table__body {
  max-height: 100px;
  overflow: scroll;
}

.banks-table thead tr th {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  font-weight: 700;
}

.cash-flow-table thead tr th,
.total-banks-balance-row td {
  font-weight: 700 !important;
}

.banks-table .total-banks-balance-row {
  position: sticky;
  bottom: 0;
  background-color: #f1f1f1;
}

.cash-flow-table tr th,
.banks-table tr th {
  background-color: #f1f1f1;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  color: #202020;
}

.cash-flow-table tr td,
.banks-table tr td {
  font-size: 13px;
  font-weight: 400;
}

.cash-flow-table tbody tr {
  height: 37.5px;
  border-top: 1px solid #ececec;
  transition: 0.3s all ease;
}

.banks-table tbody tr {
  height: 30px;
  border-top: 1px solid #ececec;
  transition: 0.3s all ease;
}

.cash-flow-table tbody tr:hover,
.cash-flow-table tbody tr:focus {
  background: #ff92671e;
}

.cash-flow-table tbody .month-totals-row,
.cash-flow-table tbody .month-totals-row:hover {
  background-color: #f8f8f8;
  height: 20px;
}

.cash-flow-table tr th,
.cash-flow-table tr td,
.cash-flow-table tr td small,
.banks-table tr th,
.banks-table tr td {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cash-flow-table tr td small {
  display: block;
  text-align: start;
  font-weight: 400;
  padding-top: 2px;
}

.description-row,
.observation-row,
.bank-row,
.banco-row {
  text-align: start !important;
  padding: 5px 20px;
}

.banks-table tr th:first-child {
  border-top-left-radius: 15px;
}

.banks-table tr th:last-child {
  border-top-right-radius: 15px;
}

.banks-table .total-banks-balance-row td:first-child {
  border-bottom-left-radius: 15px;
}

.banks-table .total-banks-balance-row td:last-child {
  border-bottom-right-radius: 15px;
}

.banks-table tr td:nth-child(1) {
  min-width: 150px;
  max-width: 150px;
}

.banks-table tr td:nth-child(2) {
  min-width: 75px;
  max-width: 75px;
}

.banks-table tr td:nth-child(3) {
  min-width: 75px;
  max-width: 75px;
}

.banks-table tr td:nth-child(4) {
  min-width: 150px;
  max-width: 150px;
}

.cash-flow-table tr th:first-child {
  border-top-left-radius: 15px;
  user-select: none;
}

.cash-flow-table tr th:last-child {
  border-top-right-radius: 15px;
}

.cash-flow-table tr td:nth-child(1) {
  min-width: 75px;
  max-width: 75px;
}

.cash-flow-table tr td:nth-child(2) {
  min-width: 100px;
  max-width: 100px;
}

.cash-flow-table tr td:nth-child(3),
.cash-flow-table tr td:nth-child(4) {
  min-width: 350px;
  max-width: 350px;
}

.cash-flow-table tr td:nth-child(5) {
  min-width: 70px;
  max-width: 70px;
}

.cash-flow-table tr td:nth-child(6),
.cash-flow-table tr td:nth-child(7),
.cash-flow-table tr td:nth-child(8) {
  min-width: 140px;
  max-width: 140px;
}

.cash-flow-table .month-totals-row td:nth-child(2),
.cash-flow-table .month-totals-row td:nth-child(3),
.cash-flow-table .month-totals-row td:nth-child(4),
.cash-flow-table .month-totals-row td:nth-child(5) {
  font-weight: 600;
  font-size: 11px;
  color: #858585;
  min-width: 140px;
  max-width: 140px;
}

.checkbox-month {
  background-color: #F46A35;
}

.empty-message {
  text-align: center;
  padding: 10px;
  user-select: none;
  font-size: 12px;
}

/* CHECKBOX ################################################################################################################################### */
.checkbox-row {
  z-index: 0;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  margin: auto;
  user-select: none;
}

.custom-checkbox,
.select-all-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #202020;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark,
.select-all-checkbox:checked ~ .checkmark {
  background-color: #F46A35;
  box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after,
.select-all-checkbox:checked ~ .checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after,
.select-all-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}

/* SETTLEMENT CONTAINER ####################################################################################################################### */
.selected-entries-value-container {
  opacity: 0;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background-color: var(--color2);
  padding: 10px;
  width: 20%;
  border: 0.5px solid #d6d6d6;
  transition: transform 0.5s ease, opacity 0.5s ease;
  border-radius: 20px 20px 0px 0px;
}

.selected-entries-value-container.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  border-radius: 20px 20px 0px 0px;
}

.settlement-consolidated-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

/* MOBILE BUTTONS ############################################################################################################################# */
.toggle-filters-btn,
.toggle-banks-btn {
  display: none;
  margin: 10px auto;
  padding: 0.8em 1.7em;
  width: 300px;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid;
  font-family: var(--primary-font);
  text-transform: uppercase;
  z-index: 1;
  box-shadow: var(--box-shadow2);
}

.toggle-filters-btn::before,
.toggle-filters-btn::after,
.toggle-banks-btn::before,
.toggle-banks-btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--main-color);
  transition: .5s ease;
}

.toggle-filters-btn::before,
.toggle-banks-btn::before {
  top: -1em;
  left: -1em;
}

.toggle-filters-btn::after,
.toggle-banks-btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.toggle-filters-btn:hover::before,
.toggle-filters-btn:hover::after,
.toggle-banks-btn:hover::before,
.toggle-banks-btn:hover::after {
  height: 410px;
  width: 410px;
}

.toggle-filters-btn:hover,
.toggle-banks-btn:hover {
  color: var(--color9);
  border-color: var(--main-color);
}

.toggle-filters-btn:active,
.toggle-banks-btn:active {
  filter: brightness(.8);
}

/* MEDIA QUERIES ############################################################################################################################## */
@media screen and (max-width: 768px) {
  .filter-boxes {
      grid-template-columns: 1fr;
  }

  .nav-list li {
      margin-left: 24px;
  }

  .pesquisa, .pesquisa-tags {
      justify-content: center;
  }

  .cash-flow-table,
  .tabela-bancos {
      min-width: 0;
      overflow-x: auto;
  }

  .cash-flow-table-wrapper {
      display: block;
  }

  .flex > select, .flex > input,
  .caixa-pesquisa,
  .caixa-pesquisa-tags {
      width: 90%;
  }

  .selected-entries-value-container {
      width: 90%;
      bottom: 10px;
      left: 5%;
      transform: translateX(0) translateY(100%);
  }

  /* Barra Lateral */
  .header {
    height: auto;
    position: relative;
  }

  .openbtn {
      display: block;
      box-shadow: var(--box-shadow2);
      transition: var(--transition-effect1) var(--transition-duration1);
  }

  .openbtn:hover {
      background-color: var(--main-color);
      color: var(--main-color);
      transition: var(--transition-effect1) var(--transition-duration1);
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    background-color: #3d3d40bf;
    transition: 0.3s;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-bar .logo {
    display: block;
    margin-bottom: 20px;
    font-size: 34px;
    letter-spacing: 4px;
    text-align: center;
    width: 100%;
  }

  .nav-bar .nav-list {
    display: block;
    width: 100%;
  }

  .nav-bar .nav-list li {
    text-align: center;
    margin-left: 0;
    margin-top: 30px;
    font-size: 20px;
  }

  .nav-bar .line, .nav-line {
    display: none;
  }


  .toggle-filters-btn,
  .toggle-banks-btn {
    display: inline-block;
  }

  /* Inicialmente oculta o formulário em dispositivos móveis */
  #form-filters,
  #box-grid-bancos {
      display: none;
  }

  /* Quando a classe .show-filters é adicionada via JavaScript, o formulário será exibido */
  #form-filters.show-filters,
  #box-grid-bancos.show-filters {
      display: block;
  }

  .mesclar-2,
  .mesclar-3 {
    grid-column: 1 / -1;
  }

  .flex,
  .pesquisa,
  .pesquisa-tags {
    margin: 0.5rem 0;
  }

  .flex > select,
  .flex > input,
  .caixa-pesquisa,
  .caixa-pesquisa-tags {
    width: calc(100% - 2rem);
    margin: 10px 1rem;
  }

  .conteudo-tabela-bancos {
    max-height: none;
  }
  
  .botoes-filtros {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .botoes-filtros section {
    flex: 1;
  }
  
  /* Tabela Lançamentos */
  .cash-flow-table {
    min-width: 0;
    width: 100%;
    table-layout: auto;
    margin: 0px
  }
  
  /* Reduz o tamanho da fonte para as células da tabela */
  .cash-flow-table th,
  .cash-flow-table td {
    font-size: 10px;
      padding: 5px;
  }

  /* Oculta as colunas Observação e Parcela */
  .observation-col,
  .installment-col,
  .observation-row,
  .installment-row {
      display: none;
  }

  .checkbox-container {
    padding: 10px;
    margin: 12px 0px 20px 5px
  }
  
  .checkbox-col {
    width: 10px;
  }
  
  .due-date-col {
      width: 80px;
  }

  .description-col {
      width: 200px;
  }

  .debit-col,
  .credit-col,
  .balance-col {
      width: 100px;
  }

  /* Ajustes para as células para melhor visualização */
  .due-date-row,
  .debito-row,
  .credito-row,
  .balance-row {
      white-space: normal;
      text-overflow: clip;
  }

  .due-date-row {
    letter-spacing: -.9px;
  }

  .cash-flow-table__body--row {
      height: auto;
  }

/* Tabela Bancos */
  .box-grid-bancos {
    width: calc(100% - 2rem);
    margin: 1rem;
  }

  .tabela-bancos {
    font-size: 10px;
    width: 100%;
    table-layout: auto;
  }

  .tabela-bancos th, .tabela-bancos td {
      padding: 5px;
  }

  .tabela-bancos th {
    padding: 0;
    font-size: 13px;
    font-weight: 700;
  }

  .tabela-bancos td {
    font-size: 10px;
    font-weight: 300;
  }

  .banco-row {
    text-align: left;
  }

  .ag-row,
  .conta-row,
  .saldo-banco-row,
  .total-row,
  .saldo-total-banco-row {
    text-align: center;
    white-space: normal;
  }

  .saldo-banco-row,
  .saldo-total-banco-row {
    text-align: center;
  }

  .row-bancos,
  .totais-row {
      height: auto;
      font-family: var(--primary-font);
  }

  .bancos-bancos-col {
    width: 40.75%;
  }

  .ag-bancos-col {
    width: 16.85%;
  }

  .conta-bancos-col {
    width: 16.85%;
  }

  td.total-row {
    text-align: center;
    font-weight: 900;
  }

  td.saldo-total-banco-row {
    text-align: center;
    font-weight: 900;
  }

}